## **A. Aturan Penulisan dalam Basic Phyton**
1. Penulisan satu statement di dalam Python tidak diakhiri dengan tanda titik-koma
2. Statement pada Pyhton dinyatakan dalam satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru (new line).
3. Jika ada pernyataan yang panjangnya terdiri lebih dari 1 baris, maka dapat dilakukan dengan menggunakan tanda backslash ().
4. Statement yang ada di dalam atau diapit oleh tanda kurung seperti "[],{},()" tidak memerlukan tanda "".
5. Python menggunakan tanda indentasi (spasi) sebagai penanda blok. Panjang spasi atau indentasi untuk setiap baris yang ada dalam satu blok kode harus sama. Bila spasi atau indentasi dalam satu grup kode tersebut tidak sama, python akan menamplikan sintaks error.
6. Sebaga penanda string, Python menggunakan tanda kutip, baik tunggal ('), maupun ganda("). Tanda kutip tiga(""") digunakan untuk string multibaris.
7. Bahasa Python bersifat case sensitif, yang berarti membedakan huruf besar dan huruf kecil (memiliki nilai yang berbeda).
8. Untuk komentar di awali dengan tanda "#" yang artinya tidak diproses sebagai statement code.

## **B. Python as Calculator (Numbers), Assignment, Comparison, Boolean, and Logic Operator**

## **A. Aturan Penulisan dalam Basic Phyton**

#### 1. Penulisan satu statement di dalam Python tidak diakhiri dengan tanda titik-koma

In [ ]:
print("Halo Dunia!") # Print : Mencetak
print("panjang = 4")
print("lebar = 5")
print('saya suka belajar python')

Halo Dunia!
panjang = 4
lebar = 5
saya suka belajar python

#### 2. Statement pada Pyhton dinyatakan dalam satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru (new line).

In [ ]:
print("luas = panjang * lebar")

#### 3. Jika ada pernyataan yang panjangnya terdiri lebih dari 1 baris, maka dapat dilakukan dengan menggunakan tanda backslash ( \ ) .

In [ ]:
print("volume = panjang * lebar *\
tinggi")

#### 4. Statement yang ada di dalam atau diapit oleh tanda kurung seperti "[],{},()" tidak memerlukan tanda ""

In [ ]:
nama_hari = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
print(nama_hari)

#### 5. Python menggunakan tanda indentasi (spasi) sebagai penanda blok. Panjang spasi atau indentasi untuk setiap baris yang ada dalam satu blok kode harus sama. Bila spasi atau indentasi dalam satu grup kode tersebut tidak sama, python akan menamplikan sintaks error

In [ ]:
usia = 7
if usia >= 7: # If : Untuk memeriksa jika kondisi benar/ salah
  print("diterima masuk SD")
  print("dinyatakan lulus")
else: # Else : menentukan dari suatu kondisi yang diberikan
    print("tidak diterima masuk SD")
    print("dinyatakan gagal")

diterima masuk SD
dinyatakan lulus

#### 6.Sebagai penanda string, Python menggunakan tanda kutip, baik tunggal ('), maupun ganda("). Tanda kutip tiga(""") digunakan untuk string multibaris.

In [2]:
nama_depan = 'Clarisa' # Nama depan tidak boleh spasi / harus pakai(_)
namalengkap = "Clarisa Faradhita"
alinea = """Berikut ini adalah alinea  
yang terdiri dari beberapa baris""" # tanda (""") untuk menulis string yang panjang dalam beberpa baris 
print(nama_depan) 
print(namalengkap)
print(alinea)

Clarisa
Clarisa Faradhita
Berikut ini adalah alinea
yang terdiri dari beberapa baris

#### 7.Bahasa Python bersifat case sensitif, yang berarti membedakan huruf besar dan huruf kecil (memiliki nilai yang berbeda).

In [3]:
#Contoh statement yang benar
luas = 15*3
print(luas)

#Contoh statement yang salah
luas = 15*3
#print(luas)
print(luas)

45
45

#### 8. Untuk komentar di awali dengan tanda "#" yang artinya tidak diproses sebagai statement code.

In [ ]:
#Contoh
#perintah untuk menghitung luas
panjang = 15
lebar = 3
luas = (panjang*lebar)
print(luas)

## **Python as Calculator (Numbers), Assignment, Comparison, Boolean, and Logic Operator**

In [6]:
# Contoh sederhana Boolean
# false : untuk menampilkan nilai jika salah
# True : untuk menampilkan jika benar
nilai = 80
nilai > 65 
nilai < 65

False

**a. Python Working in Strings and List**

In [9]:
# String pendek
# print('pendek')
# print("pendek")
# print("don't")

#Tanda \ (Menghilangkan pengaruh "")
# 
print("halo, \"Saya\"")

# #String panjang
#print('''
#string
#panjang
#''')

halo, "Saya"

In [19]:
#Operator +
# print("Py" + "thon") # Fungsi (+) Untuk menggabungkan kata
prefiks = "di\n" # Fungsi (\n) agar ada spasi kebawah
dasar_1 = "Bekasi"
dasar_2 = "tolak"
print(prefiks + dasar_1)
#print(prefiks, dasar_2)
# print("Py" "thon"

di
Bekasi

In [23]:
#Tanda \ dan r
#Tanda \ berguna sebagai penginterpretasi karakter spesial sedangkan r membuat string menjadi terbaca sebagai raw strings (apa adanya)
print("ganti baris \n ke bawah")  # \n turun satu baris
#print("C:\user\folder") # error
print(r"C:\user\folder") # berhasil

ganti baris
 ke bawah
C:\user\folder

In [30]:
# Cara menggunkan Indexed
kata_sambutan = "Happy"
kata_sambutan[1]  #	indeks ke 0
# kata_sambutan[:2] #	indeks ke 0 sampai 2 – 1
# kata_sambutan[1:2]  #	indeks ke 1 sampai 2 – 1
#kata_sambutan[1:]  #	indeks ke 1 sampai terakhir
# kata_sambutan[-2]  #	indeks ke 1 dari belakang
#kata_sambutan[0]  #	indeks ke 0
#kata_sambutan[:-3]#	dari indeks ke 0 sampai -3 – 1

'a'

In [32]:
#Metode dalam penulisan
#kata_sambutan.lower() #huruf kecil
kata_sambutan.upper() #huruf besar

'HAPPY'

In [39]:
#Fungsi len dan operator in
sambutan = kata_sambutan + ", Pak Febri. Ada yang bisa Elen bantu ?"
len(sambutan) #panjang karakter len
#"Elen" in sambutan

43

In [40]:
print(len(kata_sambutan))

5

**b. List**

In [46]:
#Create list
akurasi = [0.6, 0.7, 0.8, 0.9]
kredit = ['macet', 'lancar', 'macet']
feature = [1,2,3,4]
#container_1 = list() # container : untuk tempat / wadah
#container_2 = []
#type(container_1) # mengecek tipe
print(akurasi)

[0.6, 0.7, 0.8, 0.9]

In [56]:
#Concatenating (operator +)
# concat = akurasi+feature
# print(concat)
cacah_1 = [1, 3, 5, 7, 9] + [2, 4, 6, 8]
cacah_2 = [1, 4, 5] + ['baju','sepatu']
print(cacah_2)
#dua_list = [akurasi, feature]
# campur = feature + kredit
# isinstance(campur, list)

[1, 4, 5, 'baju', 'sepatu']

In [58]:
print(feature)
print(kredit)

[1, 2, 3, 4]
['macet', 'lancar', 'macet']

In [63]:
#Indexed
#feature[0]
#feature[:3]
#feature[1:]
dua_list[0][2]

0.8

In [64]:
#Edited
cacah_1[1] = 3
cacah_2[1:4] = [9,9,9]

In [65]:
lakes = ['superior', 'erie', 'huron', 'ontario', 'powell']
len(lakes) # jumlah kata

5

In [68]:
numbers = [1, 2, 3, 4, 5, 8]
sum(numbers) # SUM : Rata-rata
#max(numbers) # Max : Maximal nilai
#min(numbers) # Min : Minimal Nilai

23

In [69]:
print(lakes)

['superior', 'erie', 'huron', 'ontario', 'powell']

In [74]:
lakes_sorted_new = sorted(lakes) 
lakes_sorted_new # Sorted : mengurutkan huruf dari a-z

['erie', 'huron', 'ontario', 'powell', 'superior']

In [80]:
cities = ["oslo", "delhi", "washington", "london", "seattle", "paris", "washington"]
cities.count('seattle')
#cities.index('london')

3

In [81]:
cities.reverse() # Reverse : membalik kata washiton, paris dll
cities

['washington', 'paris', 'seattle', 'london', 'washington', 'delhi', 'oslo']

In [82]:
cities.append('brussels') # Append : menambahkan kata (brussels)
cities

['washington',
 'paris',
 'seattle',
 'london',
 'washington',
 'delhi',
 'oslo',
 'brussels']

In [83]:
cities.sort() # Sort : mengurutkan data dari a-z
cities

['brussels',
 'delhi',
 'london',
 'oslo',
 'paris',
 'seattle',
 'washington',
 'washington']

In [84]:
cities.pop() # Pop : untuk menghapus elemen terakhir
cities

['brussels', 'delhi', 'london', 'oslo', 'paris', 'seattle', 'washington']

In [85]:
more_cities = ["brussels", "copenhagen"]
cities.extend(more_cities) # Extend : untuk menambahkan kata
cities

['brussels',
 'delhi',
 'london',
 'oslo',
 'paris',
 'seattle',
 'washington',
 'brussels',
 'copenhagen']

In [87]:
cities.remove("brussels") # Remove : untuk menghapus elemen dari dlm suatu array
cities

['delhi', 'london', 'oslo', 'paris', 'seattle', 'washington', 'copenhagen']

## **THANKS YOU**